[submodule "piano-piano/passion"]
	path = piano-piano/passion
	url = git@github-kikito:kikito/passion.git
[submodule "avalanche/passion"]
	path = avalanche/passion
	url = git@github-kikito:kikito/passion.git
[submodule "physics-platformer/passion"]
	path = physics-platformer/passion
	url = git@github-kikito:kikito/passion.git
